*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-container{
    width: 30rem;
    height: 18rem;
    margin: 5rem auto;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    border: none;
    padding: 3rem 5rem;
    background: linear-gradient(45deg, rgba(237, 108, 108, 0.5),rgba(209, 237, 108, 0.5));
}
.form-container h2{
    text-align: center;
    margin-bottom: 40px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px; 
}

input[type="submit"] {
    background: linear-gradient(45deg, rgba(209, 237, 108, 0.8), rgba(237, 108, 108, 0.8));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: 500;
    color: black;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 0px rgba(237, 108, 108);
    transition: all 0.5s ease;
}

input[type="submit"]:hover {
    background-color: #d34a4a;
}
input[type="submit"]:active{
    box-shadow: 0px 0px 0px rgba(237, 108, 108);
    transform: translate(4px,4px);
}
form p{
    margin-top: 10px;
}
#pinTableContainer {
    margin: 1rem auto 5rem;
    text-align: center;
    display: none;
}

#pinTable {
    width: 100%;
}
#loader{
    display: none;
    margin: auto;
}